.auth-container{
width: 100vw;
height: 100vh;
}

.auth-top{
text-align: center;

}

.auth-content{
    display: flex;
    padding: 40px 50px;
}

.auth-rodape{

}

.auth-login-img{
    width: 400px;
    height: 400px;
    
}

.auth-form{
    border-radius: 5px;
}