.footer-container{
    height: 80px;
align-items: center;
justify-content: right;
position: relative;
margin-left: 0;
    margin-right: 0;

}
.footer-content{
    margin-right: 60px;
}
.footer-content h4{
    font-size: 10px;
}

.footer-logo{
    width: 60px;
    height: 60px;
}

.footer-logo-container{
    margin-right: 10px;
}